<%  
   from bottle import get, post, request, response, redirect
    from passlib.hash import pbkdf2_sha256
    #error messages
    message = ""
    status = ""
   
    import pymongo
    connection = pymongo.MongoClient("mongodb://almedin:Test123@cluster0-shard-00-00-vspbc.mongodb.net:27017,cluster0-shard-00-01-vspbc.mongodb.net:27017,cluster0-shard-00-02-vspbc.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true")
    db = connection.dealership #db
    coll = db.inventory
   
    #check if signed in
   admin = request.get_cookie("admin")
   user = ""
   if admin is not None:
        user = admin
   else:
        redirect("/adminlogin")
   end
   
    save = request.forms.get("save")
    cancel = request.forms.get("cancel")
    if save is not None:
        Make = request.forms.get('make')
        Model = request.forms.get('model')
        Year = request.forms.get('year')
        Price = request.forms.get('price')
        Mileage = request.forms.get('mileage')
        Color = request.forms.get('color')
        MPG = request.forms.get('mpg')
   
        vehicle_doc = dict(
            make = Make,
            model = Model,
            year = Year,
            price = Price,
            mileage = Mileage,
            color = Color,
            mpg = MPG
        )
    
        insert_result = coll.insert_one(vehicle_doc)
        redirect("/inventory")
    end
    if cancel is not None:
        redirect("/inventory");
    end
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auto Land</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='/static/css/al.css'>
    </head>
    <body>
         <header>
            <nav id="top">
                <a href="adminhome">Home</a>
                <a href="inventory">View Inventory</a>
                <a href="addvehicle">Add A Car</a>
                <a href="customers">View All Customers</a>
                <a href="appointments">View Appointments</a>
                <a href="adminlogout">Logout</a>
            </nav>
        </header>
        <h1>Auto Land</h1>
        <h2>Add New Vehicle</h2>
        <form name="frmCreate" action="/addvehicle" method="post" id="frmCreate" class="card">
            <label>Make:</label>
            <input type="text" name="make" required>
            <label>Model:</label>
            <input type="text" name="model" required>
            <label>Year:</label>
            <input type="int" name="year" required>
            <label>Price:</label>
            <input type="int" name="price" required>
            <label>Mileage:</label>
            <input type="int" name="mileage" required>
            <label>Color:</label>
            <input type="text" name="color" required>
            <label>MPG:</label>
            <input type="int" name="mpg" required><br>
            <input type="submit" name="cancel" value="Cancel">
            <input type="submit" name="save" value="Save">
        </form>
    </body>
</html>