<%
   from bottle import get, post, request, response, redirect
   from passlib.hash import pbkdf2_sha256
   #error messages
   message = ""
   
    import pymongo
    connection = pymongo.MongoClient("mongodb://almedin:Test123@cluster0-shard-00-00-vspbc.mongodb.net:27017,cluster0-shard-00-01-vspbc.mongodb.net:27017,cluster0-shard-00-02-vspbc.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true")
    db = connection.dealership #db
    coll = db.customers #collection
   
    #check if signed in
   admin = request.get_cookie("admin")
   user = ""
   if admin is not None:
        user = admin
   else:
        redirect("/adminlogin")
   end
%>
<!DOCTYPE html>
<html lang="en">   
    <head>
       <title>Auto Land</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='/static/css/al.css'>
    </head>  
    <body>
        <header>
            <nav id="top">
                <a href="adminhome">Home</a>
                <a href="inventory">View Inventory</a>
                <a href="addvehicle">Add A Car</a>
                <a href="customers">View All Customers</a>
                <a href="appointments">View Appointments</a>
                <a href="adminlogout">Logout</a>
            </nav>
        </header>
        <h1>Auto Land</h1>
        <h2>Manage Customers</h2>
        <form method="post" class="search">
            <input type="text" name="search" placeholder="Search...">
            <input type="submit" name="enter" value="Search">
        </form>
        
        <table>
            <caption>Customers</caption>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>

                
            </tr>
            <%
                #get inventory
                coll = db.customers
               #check if searched
               searched = request.forms.get("search")
               if searched is not None:
                    string = ".*" + searched + ".*"
                    results = coll.find({"$or": [{"_id" : {"$regex": string , "$options": "i"} }, {"firstName": {"$regex": string, "$options": "i"} }, {"lastName" : {"$regex": string , "$options": "i"} }, {"email" : {"$regex": string , "$options": "i"} }, {"phoneNumber.0" : {"$regex": string , "$options": "i"} }, {"phoneNumber.1" : {"$regex": string , "$options": "i"} }, {"address.street" : {"$regex": string , "$options": "i"} }, {"address.city" : {"$regex": string , "$options": "i"} }, {"address.state" : {"$regex": string , "$options": "i"} }, {"address.zip" : {"$regex": string , "$options": "i"} } ] })
               else:
                    results = coll.find()
               end

               if results.count() > 0:
                for entry in results:
               
            %>
            <tr>
                <td>{{entry["_id"]}}</td>
                <td>{{entry["firstName"]}}</td>
                <td>{{entry["lastName"]}}</td>
                <td>{{entry["email"]}}</td>
                <td>{{entry["phoneNumber"]}}</td>
                <td>{{entry["address"]}}</td>
                <td><a class="deletebtn" href="/customers/delete/{{entry['_id']}}"role="button">Delete</a></td>
                
            </tr>
                %end
            %end
        </table>
    </body>
</html>