<%
   from bottle import get, post, request, response, redirect
   from passlib.hash import pbkdf2_sha256
   #error messages
   message = ""
   
    import pymongo
    connection = pymongo.MongoClient("mongodb://almedin:Test123@cluster0-shard-00-00-vspbc.mongodb.net:27017,cluster0-shard-00-01-vspbc.mongodb.net:27017,cluster0-shard-00-02-vspbc.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true")
    db = connection.dealership #db
    coll = db.inventory #collection
   
   #check if signed in
   admin = request.get_cookie("admin")
   user = ""
   if admin is not None:
        user = admin
        message = "Welcome, " + user
   else:
        redirect("/adminlogin")
   end
%>
<!DOCTYPE html>
<html lang="en">   
    <head>
        <title>Auto Land</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='/static/css/al.css'>
    </head>  
    <body>
        <header>
            <nav id="top">
                <a href="adminhome">Home</a>
                <a href="inventory">View Inventory</a>
                <a href="addvehicle">Add A Car</a>
                <a href="customers">View All Customers</a>
                <a href="appointments">View Appointments</a>
                <a href="adminlogout">Logout</a>
            </nav>
        </header>
        <h1>Auto Land</h1>
        <h2>Manage Inventory</h2>
        <form method="post" class="search">
            <input type="text" name="search" placeholder="Search...">
            <input type="submit" name="enter" value="Search">
        </form>
        <table>
            <caption>Inventory</caption>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Mileage</th>
                <th>Color</th>
                <th>MPG</th>
            </tr>
            <%
                #get inventory
                coll = db.inventory
               #check if searched
               searched = request.forms.get("search")
               if searched is not None:
                    string = ".*" + searched + ".*"
                    results = coll.find({"$or": [{"make" : {"$regex": string , "$options": "i"} }, {"model": {"$regex": string, "$options": "i"} }, {"year" : {"$regex": string , "$options": "i"} }, {"price" : {"$regex": string , "$options": "i"} }, {"mileage" : {"$regex": string , "$options": "i"} }, {"color" : {"$regex": string , "$options": "i"} }, {"mpg" : {"$regex": string , "$options": "i"} } ] })
               else:
                    results = coll.find()
               end

               if results.count() > 0:
                    for entry in results:
            %>
            <tr>
                <td>{{entry["make"]}}</td>
                <td>{{entry["model"]}}</td>
                <td>{{entry["year"]}}</td>
                <td>{{entry["price"]}}</td>
                <td>{{entry["mileage"]}}</td>
                <td>{{entry["color"]}}</td>
                <td>{{entry["mpg"]}}</td>
                <td><a class="deletebtn" href="/inventory/update/{{entry['_id']}}" role="button">Edit</a></td>
                <td><a class="deletebtn" href="/inventory/delete/{{entry['_id']}}" role="button">Delete</a></td>
            </tr>
                %end
            %end
        </table>
    </body>
</html>
